// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*///Navbar*/
nav {
    background-color: #120254;
}


/*Table*/
table tr{
  height: 4rem;
  color: #284979;
}
